PRIVATE_KEY=
RPC_ENDPOINT=
RPC_WEBSOCKET_ENDPOINT=

LIL_JIT_ENDPOINT=https://blue-bitter-mountain.solana-mainnet.quiknode.pro/
LIL_JIT_WEBSOCKET_ENDPOINT=wss://blue-bitter-mountain.solana-mainnet.quiknode.pro/

LIL_JIT_MODE=false

SWAP_AMOUNT=1
DISTRIBUTION_WALLETNUM=16

SIMULATE_ONLY=false
JITO_FEE=0.001
MINIMUM_JITO_TIP=0.0005

TOKEN_NAME=DummyToken
TOKEN_SYMBOL=DUMMY
DESCRIPTION=Dummy token for local testing
TOKEN_SHOW_NAME=DUM
TOKEN_CREATE_ON=https://bonk.fun
TWITTER=https://x.com/dummy
TELEGRAM=https://t.me/dummy
WEBSITE=https://example.com
FILE=./image/2.jpg
VANITY_MODE=false
BUYER_WALLET=
BUYER_AMOUNT=0.1
